
:root {
    --victoryWidth: 100px;
}

body, html {
    background-image: url("../images/evilRobots.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Notable', sans-serif;
}

h1 {
    margin-top: 10px;
}

.gameArea {    
    width: fit-content;
}

.pastVictories div {
    position:relative;
    left: calc(-6 * var(--victoryWidth));
    background: red;
    color: white;
    text-align: right;
    transform: skew(15deg);
    border-radius: 5px;
    transition: 0.6s;
    padding: 15px;
    margin: 15px;
    width: var(--victoryWidth);
    -webkit-box-shadow: 2px 6px 0px #9e2b2b;
    -moz-box-shadow: 2px 6px 0px #9e2b2b;
    box-shadow: 2px 6px 0px #9e2b2b;
}

.blinkingText {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }